body,html{
  background: url(../8.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: monospace;
}
.prof-pic{
  border-radius:50%;
  height:400px;
  width: 400px;
}
ul li{
  font-size: 30px;
  list-style-type: none;
}
.prof-box{
  width:900px;
  height: 1600px;
  background: rgba(0,0,0,0.5);
  padding:40px;
  color: #fff;
  margin: 0 auto;
  margin-top: 100px;

}
